<div class="comment">
	<div class="comment-header flex">
		<%= image_tag comment.user.profile_pic_url, :class => "comment-pic m-top" %>
		<div class="header-text-info p-full inline">
			<div class="bold header-name inline"><%= comment.user.name %></div>
			<div class="header-heat inline p-hor">432 heat</div>
			<div class="header-school grey p-vert"><%= comment.user.school[0..30] if comment.user.school %></div>
			<div class="upvote-container">
				<%= link_to comment_upvote_path(comment), remote: true, :class => "upvote-link active" do %>
					<%= image_tag "upvoteempty.svg", :class => "upvote-arrow svg" %>
					<div class="upvote-value grey">
						<%= comment.score %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="reply-body">
		<%= comment.body %>
		<div class="comment-timestamp grey p-vert-big">
			<%= comment.timestamp %>
		</div>
	</div>
</div>
