<div class="question-thread p-full">
	<div class="question bold p-vert">
		<div class="question-body">
			<%= question.body %>
		</div>
		<%= link_to comment_upvote_path(question), remote: true, :class => "upvote-link" do %>
			<%= image_tag "upvoteempty.svg", :class => "upvote-arrow svg" %>
		<% end %>
		<div class="upvote-value grey">
			<%= question.score %>
		</div>
</div>
	<div class="question-timestamp grey p-vert-big">
		<%= question.timestamp %>
	</div>
</div>
	