<%= render partial: 'pages/main_header' %>

<script>
	$('#main-header').css('background', 'white')
	$('.menu-arrow').toggle()
</script>
<div id="user-container">
	<div id="user-main" class="flex-parent p-full m-vert">
		<%= image_tag @user.avatar_url, :class => "user-profile-pic m-right" %>
		<% if @edit_mode %>
			<img id="preview"></img>
			<%= form_for @user, multipart: true, html: {id: "avatar-form"} do |f| %>
				<%= f.file_field :avatar, :class => "no-mobile" %>
				<%= f.submit "Confirm", :class => "upload-photo hidden" %>
			<% end %>
			<div class="red no-mobile" id="upload-photo-text">Upload Photo</div>
		<% end %>
		<div class="user-main-info m-hor">
			<div id="user-name" class="bold">
				<%= @user.name %>
				<%= image_tag("badgementor.svg", :class => "user-badge") %>
			</div>
			<% if @edit_mode %>
				<div id="user-one-liner" class="m-vert"><%= best_in_place @user, :one_liner, type: :input, place_holder: "What school do you go to? Or what do you do?", activator: '#edit-one-liner' %></div>
				<div class="red m-vert edit-text" id="edit-one-liner">edit</div>
			<% else %>
				<div id="user-one-liner" class="m-vert"><%= @user.one_liner %></div>
			<% end %>
		</div>
			<div id="user-stats" class="m-vert-big">
				<div class="m-hor-big">
					<%= image_tag "question.svg", :class => "info-icon" %>
					<%= @user.question_count %> questions
				</div>
				<% if @user.is_mentor %>
					<div class="m-hor-big">
						<%= image_tag "answer.svg", :class => "info-icon" %>
						<%= @user.answer_count %> answers
					</div>
				<% end %>
				<div class="m-hor-big">
					<%= image_tag "heat.svg", :class => "info-icon" %>
					<%= @user.like_count %> heat
				</div>
				<div class="m-hor-big bold no-mobile">
					<div class="info-icon"></div>
					<%= @user.like_count %> Recommendations
				</div>
			</div>
	</div>



<div id="user-info-body" class="flex-parent">
	<div id="user-sub-info" class="p-full">
		<div class="user-info-header bold m-bottom-big">
			Background
			<% if @edit_mode %>
				<span class="red m-left-big edit-text" id="edit-background">edit</span>
			<% end %>
		</div>
		<div class="m-vert" id="user-background">
			<% if @edit_mode %>
				<%= best_in_place @user, :background, type: :textarea, place_holder: "Let people know a bit about who are you, your interests, or what you like to do.", activator: '#edit-background' %>
			<% else %>
				<%= @user.background %>
			<% end %>
		</div>
		<div class="user-info-header bold m-vert-big">
			AMAS
		</div>
		<div class="user-amas m-vert underlined">
			<% @user.date_ordered_amas.each do |ama| %>
				<%= link_to ama_path(ama), :class => "user-ama-link blue" do %>
					<%= ama.start_time.strftime("%B %-d") %><br>
				<% end %>
			<% end %>
		</div>

		<% if @edit_mode && !current_user.activated? %>
			<div class="user-activation m-vert-big">
				<div class="activation-text bold red">
					We are currently in a beta, your account has not yet been activated.
					Please enter your activation code below to unlock upvoting and posting.
				</div>
				<%= form_tag activate_path, id: "activation-form", remote: true do %>
					<%= text_field_tag :code, nil, placeholer: "Enter code here", :class => "code-input m-vert" %>
					<%= submit_tag "submit", :class => "hidden" %>
				<% end %>
			</div>
		<% end %>
	</div>
	<div id="user-follow-me" class="p-full">
		<div class="user-info-header bold m-bottom-big">
			Follow Me
			<% if @edit_mode %>
				<span class="red m-left-big edit-text" id="edit-follow-me">edit</span>
			<% end %>
		</div>
		<div class="user-links" data-counter="<%= @user.link_click_count %>" data-user-id="<%= @user.id %>">
			<% if @edit_mode %>
				<%= best_in_place @user, :follow_me, type: :textarea, place_holder: "Enter any relevant links about yourself here.",activator: '#edit-follow-me' %>
			<% else %>
				<%= @user.follow_me || "Nothing here yet." %>
			<% end %>
		</div>
	</div>
</div>
</div>


<script>

	function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#preview').show()
            $('#upload-photo-text').text('Confirm Photo')
            $('#preview').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
  }

  $("#user_avatar").change(function(){
      readURL(this);
  });

  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
        $('.menu-arrow.black').show()
        $('.menu-arrow.white').hide()
    }, 'xml');
  });

</script>