<%= render partial: 'pages/main_header' %>


<div id="user-container">
	<div id="user-main" class="flex p-full-big m-vert">
		<%= image_tag @user.avatar_url, :class => "user-profile-pic m-right" %>
		<% if @edit_mode %>
			<img id="preview"></img>
			<%= form_for @user, multipart: true, html: {id: "avatar-form"} do |f| %>
				<%= f.file_field :avatar, :class => "no-mobile" %>
				<%= f.submit "Confirm", :class => "upload-photo hidden" %>
			<% end %>
			<div class="red no-mobile" id="upload-photo-text">Upload Photo</div>
		<% end %>
		<div class="user-main-info m-hor">
			<div id="user-name" class="bold"><%= @user.name %></div>
			<% if @edit_mode %>
				<div id="user-one-liner" class="m-vert"><%= best_in_place @user, :one_liner, type: :input, place_holder: "Write a short one liner that tells people about yourself.", activator: '#edit-one-liner' %></div>
				<div class="red m-vert edit-text" id="edit-one-liner">edit</div>
			<% else %>
				<div id="user-one-liner" class="m-vert"><%= @user.one_liner %></div>
			<% end %>
		</div>	
			<div id="user-stats" class="m-vert-big">
				<div class="m-hor-big">
					<%= image_tag "question.svg", :class => "info-icon" %>
					<%= @user.question_count %> questions
				</div>
				<% if @user.is_mentor %>
					<div class="m-hor-big">
						<%= image_tag "answer.svg", :class => "info-icon" %>
						<%= @user.answer_count %> answers
					</div>
				<% end %>
				<div class="m-hor-big">
					<%= image_tag "heat.svg", :class => "info-icon" %>
					<%= @user.like_count %> heat
				</div>
				<div class="m-hor-big bold no-mobile">
					<%= @user.like_count %> Recommendations
				</div>
			</div>	
	</div>



<div id="user-info-body">
	<div id="user-sub-info" class="m-vert p-full">
		<div class="user-info-header bold m-bottom-big">
			Background 
			<% if @edit_mode %>
				<span class="red m-left-big edit-text" id="edit-background">edit</span>
			<% end %>
		</div>
		<div class="m-vert" id="user-background">
			<% if @edit_mode %>
				<%= best_in_place @user, :background, type: :textarea, place_holder: "Write a longer description that gives an idea of what your background is.", activator: '#edit-background' %>
			<% else %>
				<%= @user.background %>
			<% end %>
		</div>
		<div class="user-info-header bold m-vert-big">
			AMAS
		</div>
		<div class="user-amas m-vert underlined">
			<% @user.amas.order(:start_time).each do |ama| %>
				<%= link_to ama_path(ama), :class => "user-ama-link blue" do %>
					<%= ama.start_time.strftime("%B %-d") %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div id="user-follow-me" class="p-full">
		<div class="user-info-header bold m-vert-big">
			Follow Me
			<% if @edit_mode %>
				<span class="red m-left-big edit-text">Tap text to edit</span>
			<% end %>
		</div>
		<div class="user-links">
			<% [["lightgrey", "github"], ["beige", "weibo"], ["lightblue", "twitter"], ["green", "wechat"], ["blue", "facebook"]].each do |color, link| %>
				<div class="user-link-row">
					<%= link_to @user.send(link.to_sym) do %>
						<div class="follow-box <%= color + "-bg" %> inline m-vert"></div>
					<% end %>
					<div class="user-link-text inline m-half">
						<% if @edit_mode %>
							<%= best_in_place @user, link.to_sym, type: :input, place_holder: "#{link.capitalize} url" %>
						<% else %>
							<%= @user.send(link.to_sym) || "Nothing here yet." %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
</div>


<script>

	function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function (e) {
            $('#preview').show()
            $('#upload-photo-text').text('Confirm Photo')
            $('#preview').attr('src', e.target.result);
        }
        
        reader.readAsDataURL(input.files[0]);
    }
  }
    
  $("#user_avatar").change(function(){
      readURL(this);
  });

</script>