<header id="main-header">
	<%= link_to root_path do %>
		<%= image_tag "sparklogo.svg", :class => "logo m-full" %>
	<% end %>
	
		<div id="main-header-actions-right" class="normal inline-container">
			<% if !current_user %>
				<%= link_to 'auth/facebook' do %>
					<div class="main-header-action btn yellow-btn m-full" id="sign-up">
						Sign Up
					</div>
				<% end %>
			<% else %>
				<div class="no-mobile current-user-name">
					<%= current_user.name %>
				</div>
				<%= image_tag current_user.profile_pic_url, :class => "current-user-pic m-full no-mobile" %>
			<% end %>
		</div>
	
</header>
