<div class="signup-overlay-container hidden">
	<div class="modal-content">
		<%= image_tag "close.svg", id: "close-modal" %>
		<div class="bold p-bottom-very-big big" id="signup-message">Sign up to start contributing!</div>
		<div class="p-vert-very-big big">Get in the heads of people who've done it.</div>

		<div id="signup-content">
			<div id="signup-buttons">
				<%= link_to '/auth/facebook' do %>
					<div class="btn blue-btn sign-up-btn m-vert-big" id="facebook">
						Sign up with Facebook
					</div>
				<% end %>
				<div class="btn sign-up-btn m-vert-big wechat">
					Sign up with Wechat
				</div>
				<div class="btn sign-up-btn no-mobile wechat">
					Sign up with Weibo
				</div>
			</div>
			<div id="mobile-separator" class="no-desk"></div>
			<div id="desk-separator" class="no-mobile"></div>
			<div id="signup-form">
				<%= form_for @user do |f| %>
					<%= f.text_field :name, :class => "signup-field field m-bottom-big", placeholder:"Name" %>
					<%= f.text_field :email, :class => "signup-field field m-vert", placeholder:"Email", type: "email" %>
					<%= f.password_field :password, :class => "signup-field field m-vert", placeholder: "Password" %>
					<%= f.submit "Create Account", :class => "signup-field field m-vert blue-btn", id: "create-user"  %>
				<% end %>
			</div>
		</div>
	</div>
</div>
