<%= render partial: "main_header" %>

<%= render partial: "sign_up_modal" %>
<%= render partial: "login_modal" %>
<% if @new_user %>
	<%= render partial: "welcome" %>
<% end %>
	<section id="landing-main" class="<%= 'signed-in-main' if current_user %>">
		<div id="landing-content">
			<div class="landing-message">
				<div class="big m-full bold white">
					问所你想，答所我能
				</div>
				<div class="bigsub m-full white">
					3每天三位全新导师，<span class="desktop">咨询他们任何你想了解的内容！</span><span class="mobile">答你所问！</span>
				</div>
			</div>


		<% if !current_user %>

			<div id="past-mentors">
				<div id="past-mentors-title" class="bold title white m-bottom-big">之前的导师：</div>
				<div class="past-mentor">
					<%= image_tag "school1.png", :class => "past-mentor-pic m-full" %>
					<div class="past-mentor-desc m-full white">我是Xbert的CEO，Simmon Huang, 我喜欢分享和创造，在硅谷创立了职业社交网站Xbert. 问我任何问题吧！
</div><div class="past-mentor-desc m-full white">毕业于宾夕法尼亚大学-Wharton School</div>
				</div>
				<div class="past-mentor">
					<%= image_tag "school2.png", :class => "past-mentor-pic m-full" %>
					<div class="past-mentor-desc m-full white">我是IDG资本投资的年轻的创业者之一JC Xu，从美国休学回北京创造了火花，问我任何问题吧！</div>
					<div class="past-mentor-desc m-full white">休学于印第安纳大学-Kelley School of Business</div>
				</div>
				<div class="past-mentor no-mobile">
					<%= image_tag "school2.png", :class => "past-mentor-pic m-full white" %>
					<div class="past-mentor-desc m-full white">我的名字是Yu Xiao, 我是真格基金的投资经理，问我任何问题吧！</div>
<div class="past-mentor-desc m-full white">毕业于美国加州大学伯克利分校-Haas School of Business</div>
				</div>
			</div>
		<% end %>
	</div>
	</section>


<section id="landing-ama">
	<div id="ama-header">
		<div id="ama-header-content">
			<div id="ama-header-tabs" class="flex-parent no-desk bold">
				<%= link_to amas_path(category: "all"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab active" id="all">
						全部
					</div>
				<% end %>
				<%= link_to amas_path(category: "ent"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab" id="ent">
						创业
					</div>
				<% end %>
				<%= link_to amas_path(category: "biz"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab" id="biz">
						金融
					</div>
				<% end %>
			</div>

			<div id="ama-header-tabs" class="flex-parent no-mobile bold">
				<%= link_to amas_path(category: "all"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab active" id="all">
						全部
					</div>
				<% end %>
				<%= link_to amas_path(category: "ent"), remote: true, :class => "ama-header-link" do %>
				<div class="ama-header-tab" id="ent">
					创业
				</div>
				<% end %>
				<%= link_to amas_path(category: "biz"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab" id="biz">
						金融
					</div>
				<% end %>

			</div>
		</div>
	</div>
	<div class="amas-container">
		<div id="amas-content">
			<%= render partial: "amas/index" %>
		</div>
	</div>
</section>

<script>
	if ($(window).height() < 400) {
		$('#past-mentors').hide()
	}
</script>
