<%= render partial: "main_header" %>

<%= video_tag "mentu2.webm", id: "video", autoplay: true, :loop => true %>

<section id="landing-main">
	<div class="landing-message">
		<div class="big m-full">
			Ask and get your questions answered.
		</div>
		<div class="bigsub m-full">
			3 new mentors everyday.
			Ask them anything.
		</div>
	</div>

	<div id="past-mentors">
		<div id="past-mentors-title" class="bold title yellow m-bottom-big">Past Mentors</div>
		<div class="past-mentor">
			<%= image_tag "school1.png", :class => "past-mentor-pic m-full" %>
			<div class="past-mentor-desc m-full">I am Rosa Zhou, I am in my second year studying Corporate Law at Stanford, and would like to become UN Secretary General some day. </div>
		</div>
		<div class="past-mentor">
			<%= image_tag "school2.png", :class => "past-mentor-pic m-full" %>
			<div class="past-mentor-desc m-full">I am Rosa Zhou, I am in my second year studying Corporate Law at Stanford, and would like to become UN Secretary General some day. </div>
		</div>
		<div class="past-mentor no-mobile">
			<%= image_tag "school2.png", :class => "past-mentor-pic m-full" %>
			<div class="past-mentor-desc m-full">I am Rosa Zhou, I am in my second year studying Corporate Law at Stanford, and would like to become UN Secretary General some day. </div>
		</div>
		<div class="past-mentor no-mobile">
			<%= image_tag "school2.png", :class => "past-mentor-pic m-full" %>
			<div class="past-mentor-desc m-full">I am Rosa Zhou, I am in my second year studying Corporate Law at Stanford, and would like to become UN Secretary General some day. </div>
		</div>
	</div>

	<div class="no-mobile yellow" id="mentors-tomorrow">
		Read the profiles for tomorrow's upcoming mentors >>
	</div>
</section>


<section id="landing-ama">
	<div id="ama-header" class="inline-container">
		<div id="ama-header-content">
			<div class="title greylight no-mobile m-vert" id="ama-header-title">
				AMA
			</div>

			<div id="ama-header-tabs" class="inline-container no-desk">
				<%= link_to amas_path(category: "all"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab active" id="all">
						ALL
					</div>
				<% end %>
				<%= link_to amas_path(category: "sci"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab" id="sci">
						SCI
					</div>
				<% end %>
				<%= link_to amas_path(category: "biz"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab" id="biz">
						BIZ
					</div>
				<% end %>
				<%= link_to amas_path(category: "art"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab" id="art">
						ART
					</div>
				<% end %>
			</div>
			<div id="ama-header-tabs" class="inline-container no-mobile">

				<%= link_to amas_path(category: "all"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab active" id="all">
						ALL
					</div>
				<% end %>
				<%= link_to amas_path(category: "sci"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab" id="sci">
						SCIENTIST
					</div>
				<% end %>
				<%= link_to amas_path(category: "biz"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab" id="biz">
						CORPORATE
					</div>
				<% end %>
				<%= link_to amas_path(category: "art"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab" id="art">
						ARTIST
					</div>
				<% end %>
				<%= link_to amas_path(category: "inv"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab" id="inv">
						INVENTOR
					</div>
				<% end %>
				<%= link_to amas_path(category: "ent"), remote: true, :class => "ama-header-link" do %>
					<div class="ama-header-tab" id="ent">
						ENTREPERNEUR
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="amas-container p-bottom">
		<div id="amas-content">
			<%= render partial: "amas/index" %>
		</div>
	</div>
</section> 