<%= render partial: "main_header" %>

<%= video_tag "mentu.webm", id: "video", autoplay: true, :loop => true %>

<div id="full-page">
	<div class="section landing-section" id="section-1">
		<div class="section-content">
			<div class="section-main-text">
				Get Matched with Your Personal Mentors
			</div>
			<div class="section-sub-text">
				Learn from 1000+ top college students
			</div>

			<div class="sign-up-container">
				<div class="section-text yellow">
					We're currently taking mentor applications
				</div>
				<%= link_to '/auth/facebook' do %>
					<div class="btn get-started sign-up">
						<%= image_tag 'fbiconyellow.svg', :class => "fb-icon" %> Sign up to apply
					</div>
				<% end %>
			</div>
		</div>
		<div class="section-footer">
			<%= form_for @user do |f| %>
				<%= f.text_field :dream_school, :class => "landing-user-field", placeholder: "Dream School" %>
				<%= f.text_field :major, :class => "landing-user-field", placeholder: "Major" %>
				<%= f.text_field :email, :class => "landing-user-field", placeholder: "Email" %>
				<div class="landing-user-field submit">
						<%= image_tag 'fbicon.svg', :class=> "fb-icon" %> Sign Up
				</div>
			<% end %>
		</div>
	</div>

	<div class="section landing-section" id="section-2">
		<div class="section-content">
			<div class="section-content-top">
				<div class="section-text">
					Our mentors come from all over. Many from prestigious institutes.
				</div>
				<div id="places">
					<% (1..6).each do |place| %>
						<%= image_tag "school#{place}.png", :class => "place" %>
					<% end %>
				</div>
			</div>
			<div class="section-content-bottom">
				<div class="section-text">
					Here's how it works.
				</div>
				<div class="col-3-container">
					<div class="col-3">
						<%= image_tag 'howitworks1.svg', :class => "step-pic" %>
						<div class="step-title">1. Choose Your Interests</div>
						<div class="step-desc">Tell us what you're passionate about. You can get help for a TOEFL test, a job interview, or a startup pitch.</div>
					</div>
					<div class="col-3">
						<%= image_tag 'howitworks2.svg', :class => "step-pic" %>
						<div class="step-title">2. Select Your Mentor</div>
						<div class="step-desc">Select mentors you like most based on their strengths, backgrounds, and availability. You can choose as many mentors as you like.</div>
					</div>
					<div class="col-3">
						<%= image_tag 'howitworks3.svg', :class => "step-pic" %>
						<div class="step-title">3. Start Your Learning</div>
						<div class="step-desc">Log in when the session starts, and connect with your mentors as you go through your fully personalized curriculum.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section landing-section" id="section-4">
		<div class="section-content">
			<div class="section-content-top">
				<div class="section-text">Interested in becoming a mentor?</div>
				<div class="col-3-container">
					<div class="col-3">
						<div class="mentor-info-header">Responsibilities</div>
						<div class="mentor-info">
							College Search Advice<br><br>Experience Sharing<br><br>Essay Writing<br><br>Personal Growth
						</div>
					</div>
					<div class="col-3">
						<div class="mentor-info-header">Benefits</div>
						<div class="mentor-info">
							Training<br><br>We pay $40/hr<br><br>$20 for every mentor you refer that gets accepted
						</div>
					</div>
					<div class="col-3">
						<div class="mentor-info-header">Requirements</div>
						<div class="mentor-info">
							A paragraph summary about why you'd like to become a mentor<br><br>A 1 minute video telling us about yourself
						</div>
					</div>
				</div>
				<%= link_to '/auth/facebook' do %>
					<div class="btn get-started sign-up">
						<%= image_tag 'fbiconyellow.svg', :class => "fb-icon" %> Sign up to apply
					</div>
				<% end %>
			</div>
			<div class="section-content-bottom">
				<div class="section-text">Get help applying to college</div>
				<div class="section-sub-text">Tell us a bit about yourself so we can keep you in the loop when we launch.</div>
				<%= form_for @user do |f| %>
					<%= f.text_field :dream_school, :class => "landing-user-field", placeholder: "Dream School" %>
					<%= f.text_field :major, :class => "landing-user-field", placeholder: "Major" %>
					<%= f.text_field :email, :class => "landing-user-field", placeholder: "Email" %>
					<div class="landing-user-field submit">
							<%= image_tag 'fbicon.svg', :class=> "fb-icon" %> Sign Up
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="side-dots">
	<div class="circle active" id="full-1"></div>
	<div class="circle" id="full-2"></div>
	<div class="circle" id="full-3"></div>
	<div class="circle" id="full-4"></div>
</div>


<% if current_user %>
	<div class="modal-overlay-container">
		
		<% if !current_user.has_filled_out_basic_info || @debugging %>
			<div class="landing-modal">
				<%= image_tag 'close.svg', :class => "close-modal hidden show-on-submit" %>
				<div class="modal-section light-grey-back">
					<div class="modal-content">
						<div class="modal-header-container">
							<div class="modal-header">Thanks for signing up</div>
							<div class="modal-sub-header">There's just a couple more things we need to know</div>
						</div>		
						<div class="animate-on-submit">
							<%= form_for current_user, :class => "modal-user-form", remote: true do |f| %>
								<%= f.text_field :dream_school, :class => "modal-user-field", placeholder: "Dream School" %>
								<%= f.text_field :major, :class => "modal-user-field", placeholder: "Major" %>
								<%= f.text_field :email, :class => "modal-user-field", placeholder: "Email" %>
								<div class="modal-form-text">We'll send you an email when we're ready to launch</div>
								<%= f.submit "Submit", :class => "yellow-btn submit-basic-info btn" %>
							<% end %>
							<div class="modal-form-text bold">Not a prospective student?</div>
						</div>
						<div class="hidden" id="mentor-form">
							<%= form_for current_user, :class => "modal-mentor-form", remote: true do |f| %>
								<div class="mentor-field-container">
									<div class="mentor-field-number">1.</div>
									<div class="mentor-field-question">Describe a time when Hashtag occupy literally retro, farm-to-table cliche Kickstarter chambray quinoa Vice Portland. Ugh yr gentrify Bushwick, gastropub scenester ennui salvia art party cred Blue Bottle. Vinyl lomo pickled, distillery Godard jean shorts Wes Anderson Shoreditch swag church-key. </div>
									<%= f.text_area :app_response, :class => "mentor-field", placeholder: "Type your response here" %>
								</div>
								<div class="mentor-field-container">
									<div class="mentor-field-number">2.</div>
									<div class="mentor-field-question">Make a 1 minute long video telling us who you are and why you’d like to become a mentor. Upload it to Youtube or Vimeo and enter the link in the field below:</div>
									<%= f.text_field :video_url, :class => "mentor-field", placeholder: "Paste video link here" %>
								</div>
								<div class="bold">Other Info</div>
								<%= f.text_field :school, :class => "mentor-field", placeholder: "Current or previous school" %>
								<%= f.text_field :major, :class => "mentor-field", placeholder: "Major(s)" %>
								<%= f.text_field :email, :class => "mentor-field", placeholder: "Email" %>
								<div class="grey vert-padding">
									Not ready to submit just yet? Come back whenever you want and just click "Apply to be a mentor" again to bring up this form.
								</div>
								<%= f.submit "Submit Application", id: "submit-mentor-app", :class => "yellow-btn btn" %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="modal-section yellow-back" id="apply-mentor">
					<span class="hide-on-submit">Apply to be a mentor</span>
					<div class="show-on-submit hidden">
						<div class="bold mentor-text">Not a prospective student?</div>
						<div class="btn yellow-btn">Apply to be a mentor</div>
					</div>
				</div>
			</div>
		<% else %>
			<div class="landing-modal">
				<%= image_tag 'close.svg', :class => "close-modal show-on-submit" %>
				<div class="modal-section light-grey-back">
					<div class="modal-content">
						<div class="modal-header-container">
							<div class="modal-header">Thanks for signing up</div>
							<div class="modal-sub-header">We'll let you know when we're ready to launch.</div>
						</div>	
					</div>
				</div>
		<% end %>

	</div>
<% end %>

<% if !@browser.mobile? %>
	<script>
		$(document).ready(function() {
			$('#full-page').fullpage({
		      onLeave: function(index, nextIndex, direction){
		       	console.log($($('.circle')[nextIndex - 1]).addClass('active'))
		        $('.circle').removeClass('active')
						$($('.circle')[nextIndex - 1]).addClass('active')
						return false
		      },
		      normalScrollElements: '.modal-overlay-container'
		  });
		})
	</script>
<% end %>