<%= render partial: "main_header" %>

<%= video_tag "mentu.webm", id: "video", autoplay: true, :loop => true %>

<div id="full-page">
	<div class="section landing-section" id="section-1">
		<div class="section-content">
			<div class="section-main-text">
				Get Matched with Your Personal Mentors
			</div>
			<div class="section-sub-text">
				Learn from 1000+ top college students
			</div>

			<div class="sign-up-container">
				<div class="section-text yellow">
					We're currently taking mentor applications
				</div>
				<%= link_to '/auth/facebook' do %>
					<div class="btn get-started sign-up">
						<%= image_tag 'fbiconyellow.svg', :class => "fb-icon" %> Sign up to apply
					</div>
				<% end %>
			</div>
		</div>
		<div class="section-footer no-mobile">
			<%= form_for @user do |f| %>
				<%= f.text_field :dream_school, :class => "landing-user-field", placeholder: "Dream School" %>
				<%= f.text_field :major, :class => "landing-user-field", placeholder: "Major" %>
				<%= f.text_field :email, :class => "landing-user-field", placeholder: "Email" %>
				<div class="landing-user-field submit">
						<%= image_tag 'fbicon.svg', :class=> "fb-icon" %> Sign Up
				</div>
			<% end %>
		</div>
	</div>

	<div class="section landing-section" id="section-2">
		<div class="section-content">
			<div class="section-content-top">
				<div class="section-text">
					Our mentors come from all over. Many from prestigious institutes.
				</div>
				<div id="places">
					<% (1..6).each do |place| %>
						<%= image_tag "school#{place}.png", :class => "place" %>
					<% end %>
				</div>
			</div>
			<div class="section-content-bottom">
				<div class="section-text">
					Here's how it works.
				</div>
				<div class="col-3-container">
					<div class="col-3">
						<%= image_tag 'howitworks1.svg', :class => "step-pic" %>
						<div class="step-title">1. Choose Your Interests</div>
						<div class="step-desc">Tell us what you're passionate about. You can get help for a TOEFL test, a job interview, or a startup pitch.</div>
					</div>
					<div class="col-3">
						<%= image_tag 'howitworks2.svg', :class => "step-pic" %>
						<div class="step-title">2. Select Your Mentor</div>
						<div class="step-desc">Select mentors you like most based on their strengths, backgrounds, and availability. You can choose as many mentors as you like.</div>
					</div>
					<div class="col-3">
						<%= image_tag 'howitworks3.svg', :class => "step-pic" %>
						<div class="step-title">3. Start Your Learning</div>
						<div class="step-desc">Log in when the session starts, and connect with your mentors as you go through your fully personalized curriculum.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section landing-section" id="section-4">
		<div class="section-content">
			<div class="section-content-top">
				<div class="section-text">Interested in becoming a mentor?</div>
				<div class="col-3-container">
					<div class="col-3">
						<div class="mentor-info-header">Responsibilities</div>
						<div class="mentor-info">
							College Search Advice<br><br>Experience Sharing<br><br>Essay Writing<br><br>Personal Growth
						</div>
					</div>
					<div class="col-3">
						<div class="mentor-info-header">Benefits</div>
						<div class="mentor-info">
							Training<br><br>We pay $40/hr<br><br>$20 for every mentor you refer that gets accepted
						</div>
					</div>
					<div class="col-3">
						<div class="mentor-info-header">Requirements</div>
						<div class="mentor-info">
							A paragraph summary about why you'd like to become a mentor<br><br>A 1 minute video telling us about yourself
						</div>
					</div>
				</div>
				<%= link_to '/auth/facebook' do %>
					<div class="btn get-started sign-up">
						<%= image_tag 'fbiconyellow.svg', :class => "fb-icon" %> Sign up to apply
					</div>
				<% end %>
			</div>
			<div class="section-content-bottom no-mobile">
				<div class="section-text">Get help applying to college</div>
				<div class="section-sub-text">Tell us a bit about yourself so we can keep you in the loop when we launch.</div>
				<%= form_for @user do |f| %>
					<%= f.text_field :dream_school, :class => "landing-user-field", placeholder: "Dream School" %>
					<%= f.text_field :major, :class => "landing-user-field", placeholder: "Major" %>
					<%= f.text_field :email, :class => "landing-user-field", placeholder: "Email" %>
					<div class="landing-user-field submit">
							<%= image_tag 'fbicon.svg', :class=> "fb-icon" %> Sign Up
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<!-- <div class="side-dots">
	<div class="circle active" id="full-1"></div>
	<div class="circle" id="full-2"></div>
	<div class="circle" id="full-3"></div>
</div>
 -->

<% if current_user %>
	<%= render partial: 'sign_up_modal' %>
<% end %>

<% if !@browser.mobile? %>
	<script>
		// $(document).ready(function() {
		// 	$('#full-page').fullpage({
		//       onLeave: function(index, nextIndex, direction){
		//        	console.log($($('.circle')[nextIndex - 1]).addClass('active'))
		//         $('.circle').removeClass('active')
		// 				$($('.circle')[nextIndex - 1]).addClass('active')
		// 				return false
		//       },
		//       normalScrollElements: '.modal-overlay-container'
		//   });
		// })
	</script>
<% end %>