<% @amas.each do |date, amas| %>
	<div class="amas-date m-top-very-big title bold"><%= date %></div>
	<div class="amas">
		<% amas.each do |ama| %>
			<%= link_to ama_path(ama) do %>
				<div class="ama m-vert-very-big flex">
					<%= image_tag ama.user.avatar_url, :class => "ama-pic m-right-big" %>
					<div class="ama-main-info p-bottom">
						<div class="ama-mentor-info bold"><%= ama.one_liner %></div>
						<div class="ama-sub-info p-vert">
							<%= ama.description %>
						</div>
						<div class="ama-recommendations p-vert blue">
							<span class= "no-desktop">Recs:</span><span class= "no-mobile">Recommended by:</span> Andy Lee, Roger Elf<span class="no-mobile">, Bob Fitzgerald</span>... + 4
						</div>
						<div class="ama-add-info inline-container p-vert grey">
							<div class="answer-count">
								<%= image_tag "answergrey.svg", :class => "info-icon" %>
								<%= ama.answer_count %> <span class= "no-mobile">answers</span></div>
								<div class="question-count m-hor-big">
									<%= image_tag "questiongrey.svg", :class => "info-icon" %>
									<%= ama.question_count %> <span class= "no-mobile">questions</span>
								</div>
								<div class="like-count red">
									<%= image_tag "heat.svg", :class => "info-icon" %>
									<%= ama.like_count %> <span class= "no-mobile">heat</span>
								</div>
							</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>
