<%= render partial: "pages/main_header" %>

<%= link_to root_path do %>
	<%= image_tag 'closebutton.svg', :class => "close no-desk" %>
<% end %>
<section id="ama-cover">
	<div class="mentor-prompt first bold p-half">
		<span class="no-mobile">Click anywhere on the picture or text to edit it.</span>
		<span class="no-desk">Please update your profile using desktop.</span>
	</div> 
	<div id="mentor-prompts" class="bold">

		<div class="mentor-prompt m-vert-very-big" id="photo-prompt">
			Upload a profile picture.
		</div> 

		<div class="mentor-prompt m-vert-very-big">
			Write a short bio explaning who you are or what you do.
		</div> 

		<div class="mentor-prompt m-vert-very-big">
			Write a quick background. Feel free to promote yourself or anything you are working on.
		</div> 

	</div>

	<div id="ama-countdown" class="white no-mobile">
		 AMA scheduled for <%= @ama.start_time %>
	</div>

	<div id="ama-mentor">
		<%= form_for @mentor, multipart: true, html: {id: "avatar-form"} do |f| %>
			<%= f.file_field :avatar, :class => "no-mobile" %>
			<%= hidden_field_tag :ama, @ama.id %>
			<%= f.submit "Confirm", :class => "upload-photo hidden" %>
		<% end %>
		<img id="preview" src="#" alt="preview failed to load" class="hidden" /> 
		<%= image_tag @mentor.avatar_url, id: "ama-mentor-pic", :class => "m-vert" %>
		<div class="ama-mentor-intro white m-vert-very-big big bold">
			<%= best_in_place @ama, :one_liner, type: :input, place_holder: "Write a short one liner that tells people about yourself. Click here to edit." %>
		</div>
		<div class="ama-mentor-desc m-vert-big bigsub white">
			<%= best_in_place @ama, :description, type: :textarea, place_holder: "Write a longer description that gives an idea of what your background is. Click here to edit." %>
		</div>
	</div>

		<div id="bg-prompt" class="mentor-prompt">
			Share any linkes relevant to your career
		</div>
</section>


<section id="ama-questions" class="no-mobile">
	<div id="questions">
		<div id="approval-text" class="red m-vert-very-big">
			When you’re done filling out your info, click the Submit button below and we’ll let you know once we’ve approved everything.
		</div>

		<% if @ama.checking_approval %>
			<div id="submit-ama" class="btn blue-btn bold"> 
				Pending Approval...
			</div>
		<% elsif !@ama.checking_approval %>
			<%= link_to ama_path(id: @ama.id, ama: {checking_approval: true }), method: "put", remote: true, id: "approval-link" do %>
				<div id="submit-ama" class="btn blue-btn bold"> 
					Submit for approval
				</div>
			<% end %>
		<% else %>
			<div id="submit-ama" class="btn blue-btn bold"> 
				Approved!
			</div>
		<% end %>
	</div>
	<div id="right-sidebar-container" class="no-mobile">
		<div class="background-container m-top-very-big">
			<div class="bold">Relevant Links</div>
			<div class="ama-background m-vert">
			<%= best_in_place @ama, :description, type: :textarea, place_holder: "Write a longer description that gives an idea of what your background is. Click here to edit." %>
			</div>
		</div>
	</div>
</section>


<script>

	function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function (e) {
            $('#preview').show()
            $('#preview').attr('src', e.target.result);
            $('.upload-photo').show()
        }
        
        reader.readAsDataURL(input.files[0]);
    }
  }
    
  $("#user_avatar").change(function(){
      readURL(this);
  });

</script>