<%= render partial: "pages/main_header" %>
<%= render partial: "pages/sign_up_modal" %>
<%= render partial: "pages/login_modal" %>

<%= link_to root_path do %>
	<%= image_tag 'closebutton.svg', :class => "close no-desk" %>
<% end %>

<section id="ama-cover">
	<div id="ama-countdown" class="white no-mobile">
		 <span>Countdown to answering</span> <span id="countdown" data-countdown="<%= (@ama.start_time - (Time.now + 8.hours)).floor %>">00:00:00</span>
	</div>

	<div id="ama-mentor">
		<%= image_tag @mentor.avatar_url, id: "ama-mentor-pic", :class => "m-vert" %>
		<div class="ama-mentor-intro white m-vert-very-big big bold">
			<%= @ama.one_liner || "asdf " * 20 %>
		</div>
		<div class="ama-mentor-desc m-vert-big bigsub white">
			<%= @ama.description %>
		</div>
	</div>

	<div id="ama-stats" class="inline-container small white">
		<div class="m-hor-big">
			<%= image_tag "answer.svg", :class => "info-icon" %>
			<%= @ama.answer_count %> answers
		</div>
		<div class="no-mobile m-hor-big">
			<%= image_tag "question.svg", :class => "info-icon" %>
			<%= @ama.question_count %> questions
		</div>
		<div class="m-hor-big">
			<%= image_tag "heat.svg", :class => "info-icon" %>
			<%= @ama.like_count %> heat
		</div>
		<div class="m-hor-big bold">
			<%= @ama.like_count %> Rec<span class="no-mobile">ommendation</span>s
		</div>
	</div>
</section>


<section id="ama-questions">
	<div id="question-form-container">
		<div id="question-form-content">
			<%= form_for @question, remote: true, html: {id: "question-form"} do |f| %>
				<%= f.hidden_field :comment_type, value: "question" %>
				<%= f.hidden_field :ama_id, value: @ama.id %>

				<%= image_tag current_avatar, :class => "comment-pic no-mobile" %>

				<%= f.text_field :body, :placeholder => "Ask a question...", :class => "no-submit-on-enter field normal" %>
				<%= f.submit "Post", id: "submit-comment", :class => "btn red-btn normal" %>
			<% end %>
		</div>
		<div id="questions-sort-bar" class="inline-container no-mobile bigsub">
			<div>Sort questions by:</div>
			<div class="sort-option m-hor-big p-hor bold" id="sort-new">New</div>
			<div class="sort-option active p-hor bold" id="sort-popular">Popular</div>
		</div>
	</div>
	<div id="questions">
		<%= render partial: "comments/index" %>
	</div>
	<div id="right-sidebar-container" class="no-mobile">
		<div class="background-container m-top-very-big">
			<div class="bold">FOLLOW ME</div>
			<div class="background m-vert inline-container">
				<% ["lightgrey", "beige", "lightblue", "green", "blue"].each do |color| %>
					<div class="follow-box <%= color + "-bg" %>"></div>
				<% end %>
			</div>
		</div>
		<div class="featured m-top-very-big">
			<div class="bold m-vert-big">AMAS OF THE DAY</div>
			<% (1..2).each do |ama| %>
				<div class="featured-ama">
					<%= image_tag current_avatar, :class => "comment-pic" %>
					<div class="featured-desc inline m-bottom-big">
						<%= User.last.app_response %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="sidebar-footer">
			<div id="feedback" class="m-vert">
				Send Feedback
			</div>

			<div id="site-info-box" class="inline-container grey">
				<div class="site-info">
					Support
				</div>
				<div class="site-info">
					Privacy
				</div>
				<div class="site-info">
					Terms
				</div>
				<div class="site-info last">
					© 2014 KickSpark
				</div>
			</div>
		</div>
	</div>
</section>

<% if @browser.mobile? %>
<script>
	$('#sign-up').hide()
</script>
<% end %>
