<%= render partial: "pages/main_header" %>
<%= render partial: "pages/sign_up_modal" %>
<%= render partial: "pages/login_modal" %>

<%= link_to root_path do %>
	<%= image_tag 'closebutton.svg', :class => "close no-desk" %>
<% end %>

<section id="ama-cover">
	<div id="ama-countdown" class="white no-mobile">
		 <span>Countdown to answering</span> <span id="countdown" data-countdown="<%= (@ama.start_time - (Time.now + 8.hours)).floor %>">00:00:00</span>
	</div>

	<div id="ama-mentor">
		<%= image_tag @mentor.avatar_url, id: "ama-mentor-pic", :class => "m-vert" %>
		<div class="ama-mentor-intro white m-vert-very-big big bold">
			<%= @ama.one_liner || "asdf " * 20 %>
		</div>
		<div class="ama-mentor-desc m-vert-big bigsub white">
			<%= @ama.description %>
		</div>
	</div>

	<div id="ama-stats" class="inline-container small white">
		<div class="m-hor-big">
			<%= image_tag "answer.svg", :class => "info-icon" %>
			<%= @ama.answer_count %> answers
		</div>
		<div class="no-mobile m-hor-big">
			<%= image_tag "question.svg", :class => "info-icon" %>
			<%= @ama.question_count %> questions
		</div>
		<div class="m-hor-big">
			<%= image_tag "heat.svg", :class => "info-icon" %>
			<%= @ama.heat %> heat
		</div>
		<div class="m-hor-big bold">
			<%= @ama.like_count %> Rec<span class="no-mobile">ommendation</span>s
		</div>
	</div>
</section>


<section id="ama-questions">
	<div id="question-form-container">
		<div id="question-form-content">
			<%= form_for @question, remote: true, html: {id: "question-form", :class => "flex"} do |f| %>
				<%= f.hidden_field :comment_type, value: "question" %>
				<%= f.hidden_field :ama_id, value: @ama.id %>

				<%= image_tag current_avatar, :class => "comment-pic no-mobile" %>

				<%= f.text_field :body, :placeholder => "Ask a question...", :class => "no-submit-on-enter field normal" %>
				<%= f.submit "Post", id: "submit-comment", :class => "btn blue-btn normal bold" %>
			<% end %>
		</div>
	</div>

	<div class="main">
		<div id="questions" class="main-left">
			<div id="questions-sort-bar" class="inline-container no-mobile bigsub p-vert">
				<div>Sort questions by:</div>
				<div class="sort-option m-hor-big p-hor bold" id="sort-new">New</div>
				<div class="sort-option active p-hor bold" id="sort-popular">Popular</div>
			</div>
			<%= render partial: "comments/index" %>
		</div>

		<div id="right-sidebar-container" class="no-mobile main-right">
			<div class="background-container m-top-very-big">
				<div class="bold">FOLLOW ME</div>
				<div class="background m-vert inline-container" data-counter="<%= @mentor.link_click_count %>" data-user-id="<%= @mentor.id %>">
					<%= @ama.background %>
				</div>
			</div>
			<div class="featured m-top-very-big">
				<div class="bold m-vert-big">AMAS OF THE DAY</div>
				<% Ama.current.each do |ama| %>
					<%= link_to ama_path(ama) do %>
						<div class="featured-ama flex">
							<%= image_tag current_avatar, :class => "comment-pic" %>
							<div class="featured-desc m-bottom-big m-left">
								<%= ama.description %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
			<div class="sidebar-footer">
				<div id="feedback" class="m-vert">
					Send Feedback
				</div>

				<div id="site-info-box" class="inline-container grey">
					<div class="site-info">
						Support
					</div>
					<div class="site-info">
						Privacy
					</div>
					<div class="site-info">
						Terms
					</div>
					<div class="site-info last">
						© 2014 Spark
					</div>
				</div>
			</div>
		</div>

	</div>


</section>

<% if @browser.mobile? %>
<script>
	$('#sign-up').hide()
</script>
<% end %>

<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
  <% if @ama.background_url %>
	  $('#ama-cover').css('background', 'url(<%= @ama.background_url %>)').css('background-size', 'cover')
  <% end %>
</script>
